* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
    display: grid;
}

h2 {
    color: darkgreen;
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.mainMenu {
    display: grid;
    grid-template-rows: auto auto auto auto;    
    background: darkgreen;
}

@media (min-width: 576px) {
    .mainMenu {
        grid-template-columns: auto auto auto auto 1fr;
    }
}

.mainMenu > a {
    color: white;
    padding: 1vw 1.5vw;
    text-decoration: none;
    text-align: center;
}

.mainMenu > a:hover {
    color: black;
    background-color: lightgreen;
}

.breadcrumbs {
    display: grid;
    grid-template-columns: auto auto 1fr;
    color: darkgreen;
    background-color: lightgreen;
    list-style: none;
    margin-top: 0;
    font-size: 0.7em;
}

.breadcrumbs > li {
    padding-right: 1em;
}

.breadcrumbs li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

.breadcrumbs > li > a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}

main {
    padding-bottom: 100px;
    display: grid;
    grid-template-rows: 4fr 1fr;
}

@media (min-width: 576px) {
    main {
        grid-template-rows: 3fr 1fr;
    }
}

#art1 {
    display: grid;
    padding: 0.5em;
    grid-template-rows: 0.5fr repeat(9, 1fr);
    row-gap: 1em;
}

#art1 > header {
    text-align: center;
}

@media (min-width: 576px) {
    #art1 {
        grid-template-rows: 0.35fr repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        column-gap: 1em;
    }


    #art1 > header {
        grid-row: 1;
        grid-column: 1 / 4;
    }
}

#art2 {
    display: grid;
    padding: 0.5em;
    grid-template-rows: auto auto;
    row-gap: 1em;
}

#art2 > header {
    text-align: center;
}

#art1 > section,  #art2 > section {
    border: 1px solid darkgreen;
    background-color: lightgreen;
    color: darkgreen;
    border-radius: 1em;
    text-align: center;
    vertical-align: middle;
}

#art2 > section {
    background-color: white;
}

span {
    color: orangered;
    font-weight: bolder;
}

h3, p {
    margin-inline-start: 1em;
    margin-inline-end: 1em;
}

footer {
    display: grid;
    grid-template-columns: 1fr repeat(2, auto) 1fr;
    background: lightgreen;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer > p {
    grid-column: 2/3;
    text-align: right;
}

.enlacesRedes > a {
    grid-column: 3/4;
    margin-left: 1vw;
}