a.nav-link, .breadcrumb-item > a {
    color: white;
}

ol.breadcrumb {
    background-color: lightgreen;
}

footer > .navbar {
    justify-content: center;
}

.navbar-text {
    padding-right: 1em;
}

main {
    padding-bottom: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: darkgreen;
}