* {
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.mainMenu {
    display: flex;
    flex-direction: column;
    background: darkgreen;
}

@media (min-width: 576px) {
    .mainMenu {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.mainMenu > a {
    color: white;
    padding: 1vw 1.5vw;
    text-decoration: none;
    text-align: center;
}

.mainMenu > a:hover {
    color: black;
    background-color: lightgreen;
}

.breadcrumbs {
    color: darkgreen;
    background-color: lightgreen;
    list-style: none;
    margin-top: 0;
    font-size: 0.7em;
}

main {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
}

@media (min-width: 576px) {
    main {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

article {
    flex: 70%;
    padding: 1vw;
}

aside {
    flex: 30%;
    padding: 1vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

aside > img {
    border-radius: 50%;
    width: 70%;
    max-width: fit-content;
}

footer {
    display: flex;
    flex-wrap: wrap;
    background: lightgreen;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}

footer > p, .enlacesRedes > a {
    margin-left: 1vw;
}