.mainMenu {
    background: green;
    display: flex;
    height: 2em;
    justify-content: space-evenly;
    align-items: center;
}

.breadcrumbs {
    padding: 0.1em;
    padding-left: 1em;
    margin: 0;
    list-style: none;
    background-color: lightgreen;
}

.breadcrumbs li {
    display: inline;
    font-size: 75%;
}